{% extends 'mi_tabla/general/base.html.twig' %}

{% block title %}MiTabla!{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/mi_tabla/general/componentes/barra.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mi_tabla/tabla/componentes/tabla.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {{ component('MiTabla:General:BarraComponent', {contenido: contenido.barra}) }}

    {{ component('MiTabla:Tabla:TablaComponent', {listado: contenido.tabla.listado, ajustes: contenido.tabla.ajustes}) }}
    <p class="test-color text-center mt-2">Elaborado para la comunidad KSPERU!</p>
</div>
{% endblock %}

